<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jason0x43.alfred-toggl</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A387B9A-9172-438D-9B36-4F12D3DFD062</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0647B0B4-6734-48A1-BF61-031D41D2A35D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>22CE2200-B140-49B5-BAB2-6881CC3720CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0647B0B4-6734-48A1-BF61-031D41D2A35D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B19B0CB4-AA73-493F-894A-EA7DF0B90623</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0647B0B4-6734-48A1-BF61-031D41D2A35D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C191860C-C6AD-485F-8778-7C9AEF087EA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A387B9A-9172-438D-9B36-4F12D3DFD062</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>22CE2200-B140-49B5-BAB2-6881CC3720CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B19B0CB4-AA73-493F-894A-EA7DF0B90623</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Interact with Toggl</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-toggl do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A387B9A-9172-438D-9B36-4F12D3DFD062</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Toggl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0647B0B4-6734-48A1-BF61-031D41D2A35D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-toggl do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22CE2200-B140-49B5-BAB2-6881CC3720CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>tgl</string>
				<key>runningsubtext</key>
				<string>Talking to Toggl...</string>
				<key>script</key>
				<string>./alfred-toggl tell "{query}"</string>
				<key>subtext</key>
				<string>Track your time</string>
				<key>title</key>
				<string>tgl</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C191860C-C6AD-485F-8778-7C9AEF087EA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./alfred-toggl do "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B19B0CB4-AA73-493F-894A-EA7DF0B90623</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Version: 1.1.5

This workflow allows the user to interact with the Toggl time tracking service. It can be used to create timers and projects; start, stop, and adjust timers; and generate reports for recent timespans.</string>
	<key>uidata</key>
	<dict>
		<key>0647B0B4-6734-48A1-BF61-031D41D2A35D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>0A387B9A-9172-438D-9B36-4F12D3DFD062</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>22CE2200-B140-49B5-BAB2-6881CC3720CB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9385D941-BF6C-4408-8ADF-BF9CDDC4E0F9</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B19B0CB4-AA73-493F-894A-EA7DF0B90623</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C191860C-C6AD-485F-8778-7C9AEF087EA6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/alfred-toggl</string>
</dict>
</plist>
